* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 20px;
    list-style: none;
}

.app {
    header {
        padding: 10px;
        background: #fff9f9;
        border-bottom: 1px solid #dcd4d4;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            li {
                margin: 0 20px;
            }
        }
    }

    section {
        padding: 10px 30px;
    }

    footer {
        position: fixed;
        bottom: 10px;
        width: 100%;
        text-align: center;
        z-index: 9;
    }
}